.logo {
    height: 3.25rem;
}

.search {
    &__input {

    }

    &__button {

    }

    &__icon {
        height: 2rem;
        width: 2rem;
    }
}

.user-nav {
    &__icon-box {

    }

    &__icon {
        width: 2.25rem;
        height: 2.25rem;
    }

    &__user {

    }

    &__notification {

    }

    &__user-photo {
        border-radius: 50%;
        height: 3.75rem;
    }
}



