.container {
    background-color: var(--color-grey-light-1);
    margin: 8rem auto; 
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    max-width: 120rem;

    @include breakpoint-down(bp-largest) {
        margin: 0;
        max-width: 100%;
        // width: 100%;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.content {
    display: flex;

    @include breakpoint-down(bp-medium) {
        flex-direction: column;
        // width: 100%;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    border-bottom: var(--line);
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;

    @include breakpoint-down(bp-medium) {
        padding: 3rem;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;

    @include breakpoint-down(bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}